body.error404 {

	section.hero {
		@include tablet-portrait {
			min-height: 514px;
			padding-top: 200px;
		}

		&:after {
			display: none;
		}

		.deck {
			text-align: center;

			p + p {
				padding-top: 20px;
			}

			a {
				color: $white;
				text-decoration: underline;
			}
		}		
	}
}