body.post-type-archive-companies {
	
	section.hero {
		@include svg-header;
	}

	section.logos {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}
		
		.logo-grid {
			display: grid;
			gap: 50px;
			grid-template-columns: repeat(2, 1fr);

			@include mobile-landscape {
				grid-template-columns: repeat(4, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(5, 1fr);
			}

			.logo {
				a {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;

					img {
						max-width: 120px;
						max-height: 60px;

						@include tablet-portrait {
							max-width: 140px;
							max-height: 70px;
						}
					}
				}
			}
		}
	}
	
	section.map {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			padding: 0 0 25px 0;
			text-align: center;
			max-width: 840px;

			@include tablet-portrait {
				padding: 0 0 50px 0;
			}

			.headline {
				h2 {
					font-family: $united-sans;
					font-weight: 900;
					font-size: 1.75rem;
					padding-bottom: 20px;

					@include tablet-portrait {
						font-size: 2.875rem;
					}
				}
			}

			.deck {
				p {
					font-size: 1rem;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.25rem;
					}
				}
			}
		}

		.mobile-map {
			display: block;

			@include tablet-portrait {
				display: none;
			}

			img {
				width: 100%;
			}
		}

		.interactive-map {
			display: none;
			
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;

			@include tablet-portrait {
				display: flex;
			}

			.legend {
				width: 100%;
				padding-bottom: 25px;

				@include tablet-portrait {
					width: 33%;
					order: -1;
					padding-right: 25px;
					padding-bottom: 0;
				}

				.item {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					padding: 15px 0;
					border-bottom: 1px solid $blue;
					cursor: pointer;


					.number {
						padding-right: 10px;

						span {
							background: $blue;
							color: $white;
							display: inline-block;
							padding: 8px 0 10px 0;
							width: 30px;
							height: 30px;
							border-radius: 50%;
							line-height: 1em;
							text-align: center;
							transition: all 0.1s ease-in;
						}
					}

					.info {
						flex: 1;
						.name {
							color: $dark-blue;
							font-weight: bold;
							font-size: 1rem;
							transition: all 0.1s ease-in;

							@include tablet-landscape {
								font-size: 1.25rem;
							}
						}
					}

					.description {
						display: none;
						padding-top: 10px;
						width: 100%;

						p {
							font-size: 0.875em;
							line-height: 1.25em;
							font-weight: bold;
							color: $dark-blue;
						}
					}

					&:hover {
						.number {
							span {
								background: $gold;
							}
						}

						.info {
							.name {
								color: $gold;
							}
						}
					}

					&.active {
						.number {
							span {
								background: $gold;
							}
						}

						.info {
							.name {
								color: $gold;
							}
						}

						&-highlight {
							.number {
								span {
									background: $gold;
								}
							}

							.info {
								.name {
									color: $gold;
								}
							}
						}



						.description {
							display: block;
						}
					}
				}
			}

			.map-image {
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
				}

				.poi {
					background: $blue;
					color: $white;
					display: inline-block;
					padding: 8px 0 10px 0;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					line-height: 1em;
					text-align: center;
					position: absolute;
					z-index: 10;
					cursor: pointer;
					transition: all 0.1s ease-in;

					&:hover {
						background: $gold;
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
					}

					&.active {
						background: $gold;
						transform: scale(1.2);
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

						&-highlight {
							background: $gold;
							transform: scale(1.2);
							box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
						}
					}
				}

				.poi-company {
					background: $white;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					border-radius: 50%;
					position: absolute;
					z-index: 5;
					cursor: pointer;
					transition: all 0.1s ease-in;

					@include tablet-portrait {
						width: 40px;
						height: 40px;
					}

					img {
						width: 24px;

						@include tablet-portrait {
							width: 32px;
						}
					}
				}			


			}
		}
	}


	section.list {
		.companies-list-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			gap: 50px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr;
			}

			@include tablet-landscape {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}

		.company-large {
			width: 100%;
			max-width: 100%;

			.logo {
				min-height: 65px;
				display: flex;
				justify-content: center;
				align-items: center;

				a {
					display: block;
					width: 100%;
				}
			}

			.info {
				padding: 10px 0 20px 0;
				text-align: left;

				h3 {
					font-weight: 900;
				}

				.tagline {
					text-align: left;
					padding: 5px 0 0 0;

					p {
						font-size: 0.8125em;
						line-height: 1.25em;
					}
				}

				.description {
					padding: 15px 0 0 0;

					p {
						font-size: 0.875em;
						line-height: 1.5em;

						a.read-more {
							color: $gold;
							text-transform: uppercase;

							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}

			.links {
				text-align: left;

				.link {
					font-size: 1.125rem;

					& + .link {
						padding: 20px 0 0 0;
					}
				}			
			}

			.border {
				height: 69px;
				left: 22px;
				top: -12px;
				z-index: 15;
			}

			.bevel {
				border-width: 50px 50px 0 0;
			}

			.color {
				border-width: 70px 70px 0 0;
			}

			.border-bottom {
				width: 3px;
				height: 67px;
				background: #eaeaea;
				transform: rotate(45deg);
				position: absolute;
				right: 20px;
				bottom: -12px;
				z-index: 15;
			}

			.bevel-bottom {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 0 50px 50px;
				border-color: transparent transparent #fff  transparent;
				position: absolute;
				right: -4px;
				bottom: -5px;
				z-index: 10;
			}
		}
	}
}