body.post-type-archive-highlights {

	section.hero {

		@include tablet-portrait {
			min-height: 514px;
			padding-top: 200px;
		}
	}

	section#list {
		padding: 50px 0 0 0;

		@include tablet-portrait {
			padding: 100px 0 0 0;
		}

		.news {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			& + .news {
				margin-top: 100px;
			}

			.image {
				background: $white;
				width: 100%;
				height: 100px;
				display: flex;
				justify-content: flex-start;
				align-items: center;


				@include tablet-portrait {
					width: 25%;
					justify-content: center;
				}

				.content {
					a {
						display: block;
						max-width: 200px;
						margin: 0 auto;

						img {
							max-height: 100px;
						}
					}
				}
			}

			.info {
				color: $blue;
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
					padding: 10px 0 10px 50px;
					border-left: 2px solid $dark-blue;
				}

				a {
					color: $blue;

					&:hover {
						text-decoration: underline;
					}
				}

				h3 {
					font-weight: 900;
					font-size: 1.375em;
					line-height: 1.125em;
					padding: 0 0 5px 0;

					@include tablet-portrait {
						font-size: 1.5em;
					}
				}

				h4 {
					font-weight: 400;
					padding: 0 0 25px 0;
					font-size: 0.875em;
				}

				a.read-more {
					text-transform: uppercase;
					letter-spacing: 0.03em;
					font-weight: bold;

				}

			}
		}


		.alm-reveal {

			& + .alm-reveal {
				padding-top: 100px;
			}
		}

		.alm-btn-wrap {
			padding: 100px 0 0 0;

			.alm-load-more-btn {
				background: $red;
				border-radius: 0;
				padding: 13px 20px 12px 20px;
				height: auto;
				line-height: 1em;
				display: inline-block;
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: 0.05em;
				clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 15%);
				margin-bottom: 0;

				&:hover {
					background: $red-hover;
				}
			}
		}



	}

}