footer {
	padding: 100px 0 80px 0;
	background: $white url(images/trees-20.png) repeat-x bottom center;

	.wrapper {
		padding: 0 10px;

		@include tablet-portrait {
			padding: 0 25px;
		}
	}

	.social {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 0 40px 0;

		h5 {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 1.125em;
			color: $dark-blue;
			transform: translateY(2px);
			padding: 0 0 20px 0;
			width: 100%;
			text-align: center;

			@include tablet-portrait {
				width: auto;
				padding: 0 30px 0 0;
				font-size: 1.25em;
			}
		}

		.links {
			display: flex;

			a {
				display: block;
				width: 30px;
				height: 30px;
				
				& + a {
					margin-left: 30px;
				}

				img {
					width: 100%;
					max-width: 30px;
					height: 100%;
					max-height: 30px;
				}
			}
		}
	}

	.polygon-container {
		background: url(images/carousel-bg.jpg) no-repeat 0 0;
		background-size: cover;
		box-shadow: 0 0 40px rgba(23, 23, 23, 0.5);
		color: $white;
		padding: 50px 25px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		clip-path: polygon(95% 0, 100% 5%, 100% 100%, 5% 100%, 0 95%, 0 0);

		@include tablet-portrait {
			padding: 80px 80px 80px 80px;
			clip-path: polygon(90% 0, 100% 20%, 100% 100%, 10% 100%, 0 80%, 0 0);
		}

		@include desktop {
			clip-path: polygon(90% 0, 100% 35%, 100% 100%, 10% 100%, 0 65%, 0 0);
		}

		.info {
			width: 100%;
			text-align: center;

			.headline {
				h2 {
					font-size: 2rem;
					font-weight: 900;
					text-transform: uppercase;

					@include tablet-portrait {
						font-size: 2.875rem;
					}
				}
			}

			.deck {
				padding: 20px 0 0 0;
				max-width: 820px;
				margin: 0 auto;

				p {
					font-size: 1.125rem;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.25rem;
					}
				}
			}

			.cta {
				padding-top: 50px;
			}
		}
	}

	.copyright {
		padding: 80px 0 0 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.links {
			text-align: center;
			width: 100%;
			padding: 0 0 50px 0;

			a {
				font-size: 0.9375em;
				color: $blue;
				display: block;
				width: 100%;
				text-transform: uppercase;
				font-weight: bold;
				padding: 10px;

				@include tablet-portrait {
					display: inline;
					width: auto;
					padding: 0;
				}

				& + a {
					@include tablet-portrait {
						margin: 0 0 0 30px;
					}
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.message {
			text-align: center;
			width: 100%;

			p {
				color: $blue;
				font-size: 1rem;
				line-height: 1.5em;

				a {
					color: $blue;
					text-decoration: underline;
					font-weight: 700;
				}
			}			
		}
	}
}