body.home {

	section.hero {
		padding: 0;

		@include aspect-ratio(2, 3);

		@include mobile-landscape {
			@include aspect-ratio(1, 1);
		}

		@include tablet-portrait {
			@include aspect-ratio(4, 3);
		}

		@include desktop {
			@include aspect-ratio(1440, 713);
			max-height: 800px;
		}		

		.hero-cover-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: bottom left;
		}

		.hero-content {
			position: absolute;
			top: 0;
			left:  0;
			z-index: 10;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 25px;

			.info {
				background: rgba(0, 40, 105, 0.75);
				max-width: 880px;
				margin: 0 auto;
				padding: 25px;
				clip-path: polygon(0 0, 95% 0, 100% 3%, 100% 100%, 5% 100%, 0 97%);

				@include tablet-landscape {
					padding: 50px;
					clip-path: polygon(0 0, 95% 0, 100% 9%, 100% 100%, 5% 100%, 0 91%);
				}

				@include desktop {
					margin-top: 50px;
				}

				.svg-header {
					padding-bottom: 25px;

					img {
						margin: 0 auto;
					}
					
					.desktop {
						display: none;

						@include tablet-portrait {
							display: block;
							margin: 0 auto;
							max-width: 640px;
						}
					}

					.mobile {
						max-width: 300px;
						margin: 0 auto;

						@include tablet-portrait {
							display: none;
						}
					}

				}

				.about-statement {
					text-align: center;
					font-size: 1em;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.5rem;
					}
				}

			}

			.cta {
				padding-top: 50px;
				display: flex;
				justify-content: center;
			}
		}
	}

	section.companies-list {
		padding: 50px 0;
		background: $white url(images/trees-20.png) repeat-x bottom -100px center;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			text-align: center;
			padding: 0 0 50px 0;

			.headline {
				h2 {
					font-family: $united-sans;
					font-weight: 900;
					font-size: 2.25rem;
					padding-bottom: 30px;

					@include tablet-portrait {
						font-size: 4rem;
					}
				}
			}

			.deck {
				p {
					font-size: 1rem;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.25rem;
					}
				}
			}
		}

		.companies-list-wrapper {
			max-width: 960px;
			margin: 0 auto;
		}

		.cta {
			padding: 50px 0 0 0;
			text-align: center;

			.btn {
				padding: 15px 40px 12px 40px;
			}
		}
	}

	section.map {
		padding: 50px 0;

		.section-header {
			padding: 0 0 25px 0;
			text-align: center;
			max-width: 840px;

			@include tablet-portrait {
				padding: 0 0 50px 0;
			}

			.headline {
				h2 {
					font-family: $united-sans;
					font-weight: 900;
					font-size: 1.75rem;
					padding-bottom: 20px;

					@include tablet-portrait {
						font-size: 2.875rem;
					}
				}
			}

			.deck {
				p {
					font-size: 1rem;
					line-height: 1.5em;

					@include tablet-portrait {
						font-size: 1.25rem;
					}
				}
			}
		}

		.mobile-table {
			@include tablet-portrait {
				display: none;
			}

			.select {
				padding-bottom: 40px;
				span {
					display: block;
					font-size: 0.75em;
					font-weight: 900;
					color: $blue;
					padding-bottom: 5px;
				}

				.options {
					display: none;
				}

				.location {
					background: $light-gray;
					color: $blue;
					padding: 14px 10px 10px 10px;
					text-transform: uppercase;
					font-family: $united-sans-condensed;
					font-size: 1.5em;
					font-weight: bold;
					margin-bottom: 2px;

					&.selected {
						background: $gold;
						color: $white;

						&:after {
							display: block;
							content: '';
							width: 24px;
							height: 16px;
							background: url(images/bottom-carat-white.svg) no-repeat 0 0;
							background-size: 100%;
							position: absolute;
							right: 10px;
							top: 18px;
							z-index: 10;
						}
					}
				}
			}

			.locations {
				.location-table {
					text-align: center;
					border: 2px solid $light-gray;
					display: none;

					&.active {
						display: block;
					}

					.data {
						padding: 15px 10px 12px 10px;
					}

					.location-header {
						display: grid;
						grid-template-columns: 1fr 1fr;

						.data {
							background: $blue;
							color: $white;
							text-transform: uppercase;
							font-family: $united-sans-condensed;
							font-size: 1.5em;
							font-weight: bold;
						}

						.opposing-col {
							border-left: 2px solid $light-gray;
						}

					}

					.row {
						display: grid;
						grid-template-columns: 1fr 1fr;

						.header-col {
							background: $gold;
							color: $white;
							grid-column: 1 / span 2;
							padding: 15px 10px 12px 10px;
							font-weight: bold;
							font-size: 0.875em;
							line-height: 1.25em;
							border-top: 2px solid $light-gray;
							border-bottom: 2px solid $light-gray;
						}

						.data {
							text-transform: uppercase;
							font-family: $united-sans-condensed;
							font-size: 1.5em;
							background: $white;
							font-weight: bold;

							.red {
								color: $red;
							}

							.blue {
								color: $blue;
							}							
						}

						.opposing-col {
							border-left: 2px solid $light-gray;
						}
					}
				}
			}
		}

		.interactive-map {
			display: none;

			@include tablet-portrait {
				display: block;
			}

			map {
				area {
					&:active,
					&:focus {
						outline: none;
					}
				}
			}

			.pop-ups {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: none;

				&.show {
					display: block;
					z-index: 50;
				}
			}

			.pop-up {
				display: none;
				width: 100%;
				height: 100%;
				justify-content: center;
				align-items: center;
				display: none;

				&.show {
					display: flex;
				}

				table {
					background: #EAEAEA;
					border-spacing: 5px;
					border-collapse: separate;

					thead th,
					tbody td.header-col {
						background: $gold;
						color: $white;
					}

					thead {
						th {
							text-transform: uppercase;
							vertical-align: middle;
							text-align: left;
							padding: 25px 20px 20px 20px;
							font-family: $united-sans-condensed;
							font-size: 1.675em;
							font-weight: normal;
							font-weight: bold;

							&.header-col {
								color: $dark-blue;
								max-width: 280px;

								.versus {
									font-size: 0.675em;
								}
							}
						}
					}

					tbody tr {
						margin-top: 10px;

					}

					tbody td.header-col {
						max-width: 280px;
						padding: 20px;
						vertical-align: middle;
						line-height: 1.25em;
						font-weight: bold;

					}

					thead th.data,
					tbody td.data {
						text-align: center;
						vertical-align: middle;
					}

					tbody td.data {
						padding: 20px;
						text-transform: uppercase;
						font-family: $united-sans-condensed;
						font-size: 1.675em;
						background: $white;
						width: 180px;
						font-weight: bold;

						.red {
							color: $red;
						}

						.blue {
							color: $blue;
						}
					}
				}
			}
		}

		.view-source {
			padding-top: 40px;
			text-align: center;

			.copy {
				max-width: 640px;
				margin: 0 auto;
				text-align: left;
				padding-bottom: 25px;
				display: none;

				p {
					color: $blue;
					font-size: 0.875em;
					line-height: 1.25em;
					& + p {
						padding-top: 15px;
					}

					a {
						color: $blue;
						text-decoration: underline;
					}
				}
			}

			.src-btn {
				border-top: 1px solid $red;
				padding-top: 25px;
				max-width: 400px;
				width: 100%;
				margin: 0 auto;

				a {
					display: inline-block;
					font-weight: 900;
					color: $red;
					text-transform: uppercase;
					font-size: 1.25em;
				}
			}
		}
	}

	section#carousel-header {
		background: $white url(images/trees-20.png) repeat-x top center;
		padding: 50px 0 100px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 1024px;
		}

		.section-header {
			padding: 0 0 50px 0;
			text-align: center;

			.headline {
				h2 {
					font-family: $united-sans;
					font-weight: 900;
					font-size: 2.25em;

					@include tablet-portrait {
						font-size: 4em;
					}
				}
			}

			.deck {
				p {
					font-size: 1.125em;
					line-height: 1.5em;
					font-weight: 400;

					@include tablet-portrait {
						font-size: 1.25em;
					}
				}
			}
		}

		section#home-career-carousel {
			z-index: 100;
			background: none;
			position: relative;
			margin-bottom: 80px;

			@include tablet-portrait {
				clip-path: polygon(0 10%, 5% 0, 100% 0, 100% 90%, 95% 100%, 0 100%);
				margin-bottom: 0;
			}
			

			.slide {
				background: url(images/carousel-bg.jpg) no-repeat center center;
				background-size: cover;

				@include tablet-portrait {
					height: 500px;
				}
				

				&.profile {
					.image {
						width: 100%;
						clip-path: polygon(0 0, 0 0, 100% 0, 100% 85%, 85% 100%, 0 100%);

						@include tablet-portrait {
							@include aspect-ratio(1, 1);
							width: 40%;
							height: calc(100% - 80px);
						}
					}
					.quote {
						width: 100%;
						background: none !important;
						color: $white;
						display: block;
						padding: 25px;

						@include tablet-portrait {
							width: auto;
							flex: 1;
							padding: 50px;
						}
						
						blockquote {
							max-width: 500px;
							margin: 0;

							p {
								font-family: $united-sans;
								font-size: 1rem;
								line-height: 1.5em;

								@include tablet-landscape {
									font-size: 1.25rem;
								}
							}
						}

						.meta {
							max-width: 100%;
							padding-top: 30px;

							h4 {
								font-size: 1.5rem;
								font-weight: 400;

								&:before {
									content: '- '
								}
							}

							h5, h6 {
								font-size: 1.125rem;
								line-height: 1.5em;
								font-weight: 400;
								padding: 0;

								@include tablet-landscape {
									font-size: 1.25rem;
								}
							}
						}


					}
				}
			}

			.slick-prev,
			.slick-next {
				position: absolute;
				top: auto;
				bottom: -80px;
				width: 80px;
				height: 80px;
				transform: none;
				background-color: $red;
				background-position: center center;
				z-index: 10000;
				display: block !important;

				@include tablet-portrait {
					bottom: 0;
				}
			}

			.slick-prev {
				background-image: url(images/left-carat.svg);
				left: auto;
				right: 80px;

				@include tablet-portrait {
					left: 160px;
					right: auto;
				}
			}

			.slick-next {
				background-image: url(images/right-carat.svg);
				border-left: 1px solid $white;
				right: 0;

				@include tablet-portrait {
					left: 240px;
				}
			}

			.slick-dots {
				display: none !important;
			}

			.slide.profile .quote {
				background: $gold url(images/footer-bg.jpg) no-repeat center center;
				background-size: cover;

			}
		}

		.pagination {
			background: $white;
			height: 80px;
			width: 160px;
			position: absolute;
			bottom: -80px;
			color: $blue;
			z-index: 100;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			@include tablet-portrait {
				bottom: 0;
			}

			.counts {
				width: 100%;
				text-align: center;
				font-size: 2em;
				font-weight: bold;
				padding-top: 15px;
				display: block;
			}
		}
	}

	section#why-colorado {
		background: $blue;
		color: $white;
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			max-width: 840px;
			padding-bottom: 50px;
			text-align: center;

			@include tablet-portrait {
				padding-bottom: 80px;
			}

			h2 {
				font-family: $united-sans;
				font-weight: 900;
				font-size: 1.75rem;
				padding-bottom: 20px;
				color: $white;

				@include tablet-portrait {
					font-size: 2.875rem;
				}
			}

			p {
				font-size: 1.125em;
				line-height: 1.5em;
				color: $white;
				font-weight: 400;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}

		#why-carousel {
			display: grid;
			gap: 80px 50px;
			grid-template-columns: repeat(1, 1fr);
			max-width: 960px;
			margin: 0 auto;

			@include mobile-landscape {
				grid-template-columns: repeat(2, 1fr);
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, 1fr);
			}

			.slide {

				.stat {
					border-bottom: 2px solid $white;

					&:after {
						content: '';
						display: block;
						width: 16px;
						height: 16px;
						background: $white;
						border-radius: 50%;
						position: absolute;
						bottom: -8px;
						right: 0;
					}

					h4 {
						font-size: 3em;
						font-family: $united-sans;
						font-weight: 900;
						color: #C8A42B;
						text-transform: uppercase;

						@include tablet-landscape {
							font-size: 4em;
						}
					}
				}

				.info {
					padding-top: 10px;

					h2, h3 {
						font-size: 1.125em;
						line-height: 1.5em;
						font-family: $united-sans;
						font-weight: 400;
						text-transform: uppercase;

						@include tablet-landscape {
							font-size: 1.25em;
						}
					}
				}
			}
		}
	}
}