body.page-template-resources {

	section.hero {
		.hero-info {
			h1 {
				font-size: 3em;

				@include tablet-landscape {
					font-size: 5em;
				}
			}
		}
	}

	section#results {
		padding-top: 50px;
		min-height: 75vh;

		@include tablet-portrait {
			padding-top: 100px;
		}

		section#response {
			display: grid;
			grid-template-columns: 1fr;
			gap: 40px;

			@include mobile-landscape {
				grid-template-columns: repeat(2, minmax(0, 1fr));
			}

			@include tablet-portrait {
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			&.transition {

				&.fade-out {
					.resource {
						opacity: 0;
					}
				}

				.resource {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}

	section.career-resources {
		min-height: 40vh;

		.resource {
			border: 4px solid #EAEAEA;
			opacity: 0;
			transform: translateX(200px);
			transition: all 0.5s ease-in-out;

			.bevel {
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 60px 60px 0 0;
				border-color: #fff transparent transparent transparent;
				position: absolute;
				left: -4px;
				top: -4px;
				z-index: 10;
			}

			.border {
				width: 4px;
				height: 84px;
				background: #eaeaea;
				transform: rotate(45deg);
				position: absolute;
				left: 25px;
				top: -15px;
				z-index: 15;
			}

			.photo {
				@include aspect-ratio(387, 280);
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				padding: 20px;

				.name {
					padding-bottom: 10px;

					h3 {
						color: $dark-blue;
						font-weight: bold;
						font-size: 1.125rem;

						@include tablet-landscape {
							font-size: 1.25rem;
						}

					}
				}
				.url {
					a.arrow {
						text-transform: uppercase;
						letter-spacing: 0.1em;
						font-weight: bold;
						color: $dark-blue;
						font-size: 0.75rem;
						
						min-width: 50%;

						@include tablet-landscape {
							font-size: 0.875rem;
							letter-spacing: 0.2em;
							padding-right: 5px;
						}
					}
				}
			}


			&.none {
				grid-column: 1 / span 3;
				border: none;

				.headline {
					text-align: center;

					h3 {
						font-weight: bold;
						font-size: 2em;
						color: $red;
					}
				}
			}
		}
	}

}