body.page-template-stay-updated {

	footer {
		display: none;
	}

	section.hero {
		background-size: 100%;
		background-repeat: repeat;
		background-position: center top;
		&:after {
			display: none;
		}

		@include svg-header;
	}
	
	.stay-updated-form {
		padding: 100px 0 0 0;
		width: 100%;
		max-width: 640px;
		margin: auto;

		@include tablet-portrait {
			width: 55%;
		}

		.gform_wrapper label.gfield_label,
		.name_first label,
		.name_last label {
			color: $white !important;
		}

		#field_1_4 .gfield_label,
		.gform_wrapper .gfield_required {
			color: $white;
		}

		.gfield_checkbox {

			li {
				label {
					color: $white;
					padding: 0 0 0 5px;
				}
			}
		}
	}

	.copyright {
		padding: 150px 0 0 0;
		width: 100%;
		max-width: 640px;
		margin: auto;
		text-align: center;

		p {			
			color: $white;

			a {
				color: $white;
				text-decoration: underline;
				font-weight: 700;
			}
		}
	}

}