body {
	background: #fff;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.svg-header {
	svg {
		width: 100%;
		display: block;
	}	
}