.companies-list-wrapper {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(2, 1fr);

	@include mobile-landscape {
		grid-template-columns: repeat(3, 1fr);
	}

	@include tablet-portrait {
		grid-template-columns: repeat(5, 1fr);
	}
}

.company {
	border: 3px solid #eaeaea;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: $white;

	.border {
		width: 3px;
		height: 41px;
		background: #eaeaea;
		transform: rotate(45deg);
		position: absolute;
		left: 11px;
		top: -8px;
		z-index: 15;
	}

	.bevel {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 30px 30px 0 0;
		border-color: #fff transparent transparent transparent;
		position: absolute;
		left: -3px;
		top: -3px;
		z-index: 10;
	}

	.color {
		width: 0;
		height: 0;
		margin-left: 0;
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 5;
		border-style: solid;
		border-width: 50px 50px 0 0;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 65px;

		a {
			display: block;
			width: 100%;
		}


		img {			
			max-width: 120px;
			max-height: 56px;	
			margin: 0 auto;

			&[src$=".svg"] {
				width: 100%;
			}
		}
	}

	.tagline {
		text-align: center;
		padding: 40px 0;

		p {
			font-weight: 600;
			font-size: 0.8125em;
			line-height: 1.25em;
			color: #282828;
		}
	}

	.links {
		text-align: center;

		a {
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.1em;
			color: #282828;
			font-weight: 700;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}