.company-minimal {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		a {
			display: block;
			width: 100%;
		}

		img {			
			max-width: 120px;
			max-height: 56px;	
			margin: 0 auto;

			&[src$=".svg"] {
				width: 100%;
				
			}
		}
	}
}