section.hero {
	background: $blue url(images/hero-background.png) no-repeat center center;
	background-size: cover;
	color: $white;
	height: 100%;
	padding: 100px 0 50px 0;

	@include tablet-portrait {

		&.small {
			max-height: 514px;
		}

		&.medium {
			padding-top: 150px;
			max-height: 575px;
			padding-bottom: 100px;
		}


	}


	.hero-info {

		h1 {
			text-align: center;
			font-weight: 900;
			text-transform: uppercase;
			font-size: 3em;

			@include tablet-portrait {
				font-size: 6.25em;
			}
		}

		.deck {
			max-width: 820px;
			margin: 0 auto;
			padding: 20px 0 0 0;
			text-align: center;



			p {
				font-size: 1rem;
				line-height: 1.5em;

				@include tablet-portrait {
					font-size: 1.25rem;
				}

				@include tablet-landscape {
					font-size: 1.5rem;					
				}
			}
		}

	}


}