.stay-updated-form {
	width: 100%;

	@include tablet-portrait {
		width: 55%;
	}

	.gform_wrapper {
		margin: 0;
	}

	.gform_wrapper ul.gform_fields {
		padding: 25px 0 0 0;

		@include tablet-portrait {
			padding: 0;
		}		
	}

	.gform_wrapper label.gfield_label {
		font-weight: normal;
		color: $dark-blue;
		font-size: 0.875em;
		font-weight: 600;
		padding: 0 0 5px 0;

	}

	.gform_wrapper ul.gform_fields li.gfield {
		padding: 0 0 20px 0;
		margin: 0;
	}

	.gform_wrapper li.field_sublabel_below .ginput_complex {
		margin: 0 !important;
	}

	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label {
		color: $dark-blue;
		font-weight: 700;
		display: block;
		padding: 5px 0 0 0;
	}

	.gform_wrapper .top_label div.ginput_container {
		margin: 0;
	}

	.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
		border-radius: 0;
		border: none;
		width: 100%;
		height: 50px;
		line-height: 50px;
		padding: 10px;

		&:focus,
		&:active {
			outline: none;
		}
	}

	.gform_wrapper textarea {
		border-radius: 0;
		border: none;
		width: 100%;
		padding: 10px;

		&:focus,
		&:active {
			outline: none;
		}
	}

	.gform_wrapper .gform_footer {
		padding: 50px 0 0 0;
		margin: 0;
	}

	#field_1_4 .gfield_label {
		text-transform: uppercase;
		font-weight: 900;
		font-size: 1.25em;
		padding: 20px 0 10px 0;
	}

	.gform_wrapper .gfield_checkbox {
		display: flex;
		flex-wrap: wrap;

		li {
			width: 100%;
			display: flex;
			padding: 0 0 10px 0 !important;

			@include mobile-landscape {
				width: 50%;
			}

			@include tablet-landscape {
				width: 33.3333%;
			}

			input {
				margin: 0 !important;
			}

			label {
				color: $dark-blue;
				padding: 0 0 0 5px;
				font-size: 0.8125em;

			}
		}
	}

	 .gform_wrapper .gform_footer input[type=submit] {
	 	background: $red;
	 	color: $white;
	 	border: none;
	 	display: inline-block;
	 	padding: 20px 30px;
	 	text-transform: uppercase;
	 	font-weight: 700;
 		clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
		transition: all 0.2s ease-in-out;

		&:hover {
			background: $red-hover;
		}
	 }
}