.tabs {
	transform: translateY(50px);

	@include tablet-portrait {
		transform: translateY(100px);
	}

	&:before,
	&:after {
		display: block;
		content: '';
		width: 25px;
		height: 100%;
		position: absolute;
		z-index: 100;
		bottom: 0;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 16px 16px, 100% 100%;

		@include tablet-portrait {
			display: none;
		}
	}

	&:before {
		left: -25px;
		background-image: url(images/left-carat-blue.svg), linear-gradient(-90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
	}

	&:after {
		right: -25px;
		background-image: url(images/right-carat-blue.svg), linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%); 
	}

	&-wrapper {
		overflow: scroll;
		white-space: nowrap;
		text-align: center;
		display: flex;
		z-index: 20;
		border-top: 2px solid rgba(255, 255, 255, 0.5);

		@include tablet-portrait {
			display: flex;
			overflow: visible;
			justify-content: center;
			border-top: none;
		}
	}

	a {
		color: $white;
		display: flex;
		align-items: center;
		margin: 0 10px;
		padding: 20px 25px;
		font-size: 0.75em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.01em;
		line-height: 1.25em;
		max-width: 280px;
		white-space: normal;

		&:first-of-type {
			margin-left: 0;
		}

		@include desktop {
			margin: 0 30px;
			font-size: 1em;
		}


		&:hover,
		&.active {
			background: $gold;
			color: $black;

		}
	}
}